/* Custom CSS for this template */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-load {
    animation: fadeInUp 0.8s ease forwards;
}
